# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.EchoRenderer.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\MMXXXVIII\Things\CodingStuff\C#\EchoRenderer\.idea\.idea.EchoRenderer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
